# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
dodgemip/ReferencedRSESystems.xml
dodgemip/Project_Settings/Startup_Code/runtime_configuration.h
dodgemip/Project_Settings/Startup_Code/kinetis_sysinit.h
dodgemip/Project_Settings/Startup_Code/kinetis_sysinit.c
dodgemip/Project_Settings/Startup_Code/__arm_start.c
dodgemip/Project_Settings/Startup_Code/__arm_end.c
dodgemip/Project_Settings/Linker_Files/MKL25Z128_flash.ld
dodgemip/Project_Settings/Debugger/MKL25Z128.mem
dodgemip/Project_Settings/Debugger/mass_erase_kinetis.tcl
dodgemip/Project_Settings/Debugger/init_kinetis.tcl
dodgemip/Project_Settings/Debugger/dodgemip_FLASH_OpenSDA.launch
dodgemip/FLASH/Sources/subdir.mk
dodgemip/FLASH/Sources/sa_mtb.args
dodgemip/FLASH/Sources/main.args
dodgemip/FLASH/Sources/lcd.args
dodgemip/FLASH/sources.mk
dodgemip/FLASH/Project_Settings/Startup_Code/subdir.mk
dodgemip/FLASH/Project_Settings/Startup_Code/kinetis_sysinit.args
dodgemip/FLASH/Project_Settings/Startup_Code/__arm_start.args
dodgemip/FLASH/Project_Settings/Startup_Code/__arm_end.args
dodgemip/FLASH/objects.mk
dodgemip/FLASH/makefile.local
dodgemip/FLASH/makefile
dodgemip/FLASH/dodgemip.args
dodgemip/.settings/com.freescale.core.ide.newprojectwizard.prefs
dodgemip/.settings/com.freescale.core.ide.cdt.toolchain.prefs
dodgemip/.cwGeneratedFileSetLog
